.container
  #submission.row
    .span5
      .copy
        %p If you think you have food poisoning in Chicago, please complete this form. The info will be sent to the Chicago Department of Public Health so they can take any necessary action.

        %p Did we @reply you on Twitter? Here’s why.

        %p 
          We use computers & code to search Twitter for tweets related to food poisoning in Chicago. We do as much as we can to automatically zero-in on the tweets we think are really about a possible food poisoning case and really coming from Chicago. Then real humans review the tweets and @reply back to people with a link back to this page. #{link_to "More detail here.", page_path("about")}
          
        %p
          = link_to "Questions? We’ve got answers.", page_path("questions-answers")

    .span7
      .well
        = simple_form_for @submission, :html => { :class => 'form-horizontal' } do |s|
          %h3 What happened?
          - if @submission.errors.any?
            .alert.alert-error
              %strong  Error:
              Please fill out all of the required fields below.
          %p
            Please be as descriptive as possible, letting us know what food items you consumed, what time of day, what was your first symptom, and for how long you were sick.
          %br
          = s.input :restaurant_name, :label => "What restaurant was it?", :input_html => { :class => "input-xlarge", :placeholder => "e.g.  Pete's Fish Shack" }
          = s.input :restaurant_address, :label => "What was its address?", :input_html => { :class => "input-xlarge", :placeholder => "e.g.  70 E Lake St, Chicago, IL",  :"data-geo" => 'formatted_address' }
          .map_canvas
          = s.input :description, :label => "What happened?", :as => :text, :input_html => { :rows => 6, :class => "input-xlarge", :placeholder => "e.g.  I ate 2 chicken breasts from Restaurant Name around 7pm, and had diarrhea/vomiting at 2am. I felt terrible for the next 24 hours." }
          = s.input :date, :as => :string, :label => "When did it happen?", :input_html => { :class => "datepicker" }
          %br
          %h3 How can the Chicago Department of Public Health reach you?
          %p 
            We use the City's Open311 system to directly submit your information to make a request about your food poisoning incident. The Chicago Department of Public Health requires some info for a possible follow-up.
          %br
          = s.input :first_name, :input_html => { :placeholder => "Joe" }
          = s.input :last_name, :input_html => { :placeholder => "Citizen" }
          = s.input :email, :input_html => { :placeholder => "joecitizen@example.com" }
          = s.input :phone, :input_html => { :placeholder => "773-555-1212" }
          = s.input :tweet_id, :as => :hidden, :value => @tweet_id
          %br
          %p.privacy
            Questions about privacy?
            = link_to "Read our policy.", page_path('privacy'), alt: "Foodborne Chicago's Privacy Policy", target: "_blank"
          %button.btn.btn-success.btn-large{ :class => "ga-trackable", :data => { 'tracking-category' => 'Submission', 'tracking-action' => 'Create', 'tracking-label' => 'Public Submission' } }
            %i.icon-lock.icon-white 
            Submit your report
