.container
  #submission.row
    .span12
      .about
        %p The City of Chicago has a robust and simple complaint submission system. From graffiti removal requests to abandoned car reporting, residents can notify the City either online or by calling 311.
        %p The same holds true for submitting restaurant complaints to the CDPH when food poisoning is suspected. A complaint ticket is generated, either by calling 311 or via the internet, and Food Protection Services follows up with the resident. If warranted, an inspection team is dispatched to the restaurant in question.
        %p The CDPH Food Protection Services fields approximately 5800 complaints per year, leading to 174 restaurant investigations for suspected food poisoning per year. The CDC estimates, however, that approximately 45% of foodborne illness goes unreported. The average resident may be unaware that they can file a complaint, much less how to file a complaint.
        %p As a high profile health department that prides itself on accessibility and connectivity, the CDPH has resolved to use every tool at its disposal to ensure the health of the public. By using Twitter to identify, isolate, and investigate additional food poisoning cases, we are taking a 21st century approach to solve an issue that affects each individual in Chicago: food safety.
        %p Using sophisticated computer algorithms, it is now possibleto isolate Twitter conversations based on location and content. For our purposes, that means looking strictly for Tweets mentioning “food poisoning” originating inChicago. The authors of legitimate Tweets are then invited to fill out a web form that gathers pertinent information related to their suspected food poisoning incident. A complaint ticket is generated and forwarded to Food Protection Services, which responds accordingly.
        %p The applications of this type of technology are limited only by our imaginations. We are excited to implement this novel approach to food safety to the residents of Chicago.

    .span8.offset2
      .well
        = simple_form_for @submission, :html => { :class => 'form-horizontal' } do |s|
          %h3 What happened?
          = s.input :restaurant_name, :label => "What restaurant was it?", :input_html => { :class => "input-xlarge", :placeholder => "e.g.  Pete's Fish Shack" }
          = s.input :restaurant_address, :label => "What was its address?", :input_html => { :class => "input-xlarge", :placeholder => "e.g.  70 E Lake St, Chicago, IL",  :"data-geo" => 'formatted_address' }
          = s.input :description, :label => "What happened?", :as => :text, :input_html => { :rows => 6, :class => "input-xlarge" }
          = s.input :date, :as => :string, :label => "When did it happen?", :input_html => { :class => "datepicker" }
          %br
          %h3 How can we reach you?
          %p 
            To let you know when the City responds, we need your email.
            %b No spam, promise.
          = s.input :first_name, :input_html => { :placeholder => "Joe" }
          = s.input :last_name, :input_html => { :placeholder => "Citizen" }
          = s.input :email, :input_html => { :placeholder => "joecitizen@example.com" }
          = s.input :tweet_id, :as => :hidden, :value => @tweet_id
          %br
          = s.button :submit, :class => "btn-success btn-large", :value => "Submit your report"
