!!! html
%html
  %head
    %title
      Food Borne - #{content_for?(:page_title) ? yield(:page_title) : "Report incidents of food poisoning in Chicago"}
    %meta{ :charset => 'utf-8' }
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:700", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
    = csrf_meta_tags
  %body{:class => "#{action_name}"}
    %header#header
      .container
        .span12
          %p
            %a.logo{:href => "/"} Report Food Poisoning
          %p
            %a.scc{:href => "http://www.smartchicagocollaborative.org/"}
              Sponsored by the 
              = image_tag "scc_logo.png", :alt => "Smart Chicago Collaborative"
              
    = yield
    %script{ :type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' }
    = javascript_include_tag "application"
    - if SETTINGS['GOOGLE_ANALYTICS']
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{SETTINGS["GOOGLE_ANALYTICS"]}']);
        _gaq.push(['_trackPageview']);
       
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();