!!! html
%html
  %head
    %title Report incidents of food poisoning in Chicago
    %meta{ :charset => 'utf-8' }
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:700", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
    = csrf_meta_tags
  %body{:class => "#{action_name}"}
    %header#header
      .container
        .span12
          %p
            %a.logo{:href => "/"} Report Food Poisoning
          %p
            %a.scc{:href => "http://www.smartchicagocollaborative.org/"}
              Sponsored by the 
              = image_tag "scc_logo.png", :alt => "Smart Chicago Collaborative"
          %p.about
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus quam eu lectus congue pharetra. Sed diam orci, laoreet non pellentesque a, luctus suscipit tellus. Suspendisse lectus odio, consequat sed egestas a, luctus luctus ante. Aliquam tincidunt, magna vel consectetur hendrerit, augue eros tincidunt mauris

    = yield
    %script{ :type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' }
    = javascript_include_tag "application"